<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    {% if page.layout != 'home' %}
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    {% endif %}

    {% if page_paths %}
      <nav class="site-nav">
        <div class="trigger">
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
              {% if my_page.title contains "404" %}
              {% else %}
                <a class="page-link" href="{{ my_page.url | relative_url }}">
                    {% if my_page.icon %}
                        <i class="fa {{ my_page.icon }}" aria-hidden="true"> {{ my_page.title | escape }}</i>
                    {% else %}
                        {{ my_page.title | escape }}
                    {% endif %}
                </a>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if page.layout == 'post' %}
              <a class="page-link" href="{{site.github.repository_url}}/edit/master/{{page.path}}">
                  <i class="fa fa-pencil-square" aria-hidden="true"> Edit</i>
              </a>
          {% endif %}
        </div>
      </nav>
    {% endif %}
  </div>
</header>
